.form {
    width: 100%;
    padding: 25px;

}

.container {
    width: 75%;
    display: table;
    border: black thin solid;
    border-radius: 25px;
    /* margin: auto; */
}

.center {
    width: 50%;
    padding: 10px;
}

.padding {
    padding-left: 15px;
}

.goBack {
     margin-top: 1px;
     margin-right: 15px;
     position:relative;
     display: block;
     float: left;
     margin-bottom: 10px;
     align-self: center;
}

.encounters {
    float: right;
    position: absolute;
    right: 10%;
    top: 10%;
    margin-right: 10px;
}

.encounter {
    display: inline;
    margin-right: 20px;
}

.id {
    padding-bottom: 5px
}

.create {
    position:absolute;
    top:10%;
}