.maintenance-page {
  margin: 0 1rem;
}

.button-row {
  padding: 1rem 0;
  display: flex;
}

.button {
  border: none;
  border-radius: 50rem;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.074);
  font-size: 1rem;
  font-weight: 500;
  padding: .75rem;
}

.button:hover {
 cursor: pointer;
 background-color: salmon;
 color: #fff;
 transition: all .2s;
}

.create-product-button {
  background-color: #F7FF97;
  color: #02652A;

}

.table-buttons {
  display: flex;
}

.table-buttons > button {
  background-color: transparent;
  border: none;
 
}

.table-buttons > button:nth-child(2) {
  margin-left: .5rem;
}

.table-buttons > button:hover svg path {
  cursor: pointer;
  fill: white;
  transition: all .2s;
} 

.table-buttons svg {
  width: 1rem;
}

.spinner {
  left: 50%;
  top: 40%;
}

.spinner-small {
  width: 30px;
  position: absolute;
  top: -6.3rem;
  left: .6rem;
}

@media (max-width: 700px) {
  table {
    display: block;
    max-width: -moz-fit-content;
  }
}