.btn {
  background-color: rgb(6, 123, 55);
  border: none;
}


.card {
  display: block;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  width: 120px;
}

.dropdown {
  background-color: rgb(25, 183, 91);
  font-size: 0.8rem;
  width: 100vw;
  padding-bottom: 10px;
  padding-top: 10px;
}

.filterCheckbox {
  display: flexbox;
  margin-left: 10px;
  vertical-align: middle;
}

.filterParagraph {
  color: black;
  display: inline-block;
  margin: 3px;
  vertical-align: middle;
  width: auto;
}

.filterParagraphTextbox {
  color: black;
  display: block;
  font-weight: 400;
  text-align: left;
  margin-left: 10px;
  width: 100px;
}

.filterDiv {
  background-color: rgb(6, 123, 55);
  display: flex;
  justify-content: center;
  width: 10rem;
}

.filterInput {
  border-style: inset;
  border-color: rgb(30, 210, 105);
  border-radius: 2px;
  justify-content: center;
  margin-left: 15px;
  text-align: left;
  width: 68px;
}

.title {
  color: whitesmoke;
  font-size: 1rem;
  margin-left: 10px;
  margin-right: auto;
  text-align: left;
  justify-content: center;
}

.svg_icons {
  transform: scale(0.6);
  fill: whitesmoke;
}

.svg_icons path {
  fill: whitesmoke;
}