.modal {
  border-radius: 5px;
  background-color: #0EB71E;
  padding: 1.5rem;
  padding-bottom: 1.75rem;

  font-size: 1.2rem;
  font-weight: 500;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  max-width: 25rem;
  text-align: center;
}

.statement {
  background-color: white;
  color: #0EB71E;
  padding: 1rem;
  border-radius: 5px;
}

.prompt {
  color: white;
}

.button-container {

  margin-top: 1rem;
  display: flex;
  width: 100%;
  justify-content: center;
}

.button-container > button {
  padding: .75rem 1.25rem;
  font-weight: 500;
  font-size: 1.25rem;
  border-radius: 5px;
  border: none;
}

.yes-button {
  background-color: #F7FF97;
  color: #02652A;
  margin-right: 4rem;
}

.yes-button:hover {
  background-color: #f9ffb7;
}

.no-button {
  background-color: #FF4C4C;
  color: white;
}

.no-button:hover {
  background-color: #ff7373;
}