.productModal {
  background-color: #0eb71e;
  width: 80%;
  height: 80%;
}

.container {
  display: flex;
  flex-direction: row;
  background-color: white;
  width: 100%;
  height: 100%;
}

.pictureContainer {
  max-width: 60%;
  width: 50%;
  justify-content: center;
}

.productPicture {
  height: 100%;
  width: 600px;
  max-height: 100%;
  object-fit: contain;
  padding-right: 10px;
  padding-left: 10px;
  justify-content: center;
}

.grid {
  color: green;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: x-large;
  background-color: white;
}

.label {
  font-size: x-large;
  font-weight: bold;
}

.colorSwatch {
  background-color: rgba(228, 228, 228, 0.7);
  border-radius: 6px;
  height: auto;
  width: auto;
  text-align: center;
  justify-content: center;
}

.addCartButton {
  background-color: #0eb71e;
  color: white;
  font-size: x-large;
  font-weight: bold;
  border: none;
  height: auto;
  width: auto;
  padding: 20px 30px;
  border-radius: 4px;
}

.addCartButton:hover {
  background-color: rgb(255, 255, 147);
  color: #0eb71e;
}
