.footerText {
  color: black;
  text-align: center;
  font-weight: bold;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  vertical-align: center;
}

.footer {
  bottom: 0;
  background-color: rgb(30, 210, 105);
  height: 3rem;
  left: 0;
  overflow-anchor: none;
  min-width:1160px;
  position: absolute;
  width: 100%;
};

