#addReview {
  font-size: 15px;
  margin-right: 20px;
  background: lightsalmon;
  border-radius: 20px;
  color:black;
  border-color:antiquewhite;
  font-weight: 400;
  cursor: pointer;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}