#cancel {
    font-size: 15px;
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
  color:black;
  border-color:antiquewhite;
  font-weight: 400;
  cursor: pointer;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.errorText {
    color: red;
    font-weight: 0;
}

#newReview {
    display: flex;
    margin-bottom: 1em;
    margin-top: 0em;
    padding-top: 0em;
    padding-bottom: 0em;
    justify-content: center;
    align-items: center;
}

#rating {
    font-weight: 700;
    color: #666666;
    margin-bottom: .3em;
    position: relative;
}

#ratingInput { 
    margin-bottom: .3em;
    margin-left: oem;
}

#ratingError {
    color: red;
    font-weight: 700;
    margin-bottom: .5em;
    margin-top: 0%;
    position: relative;
}

#reviewComment { 
    display: flex;
     width: 100%;
}

.reviewForm {
    background-color: white;
    box-shadow: 0 1px 5px rgb(201, 201, 201);
    padding: 1em 1em 0;
    position: relative;
    max-height: fit-content;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box-flex;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    white-space: normal;
    border-bottom: 1em solid white;
    padding-bottom: .1%;
}

#save {
    font-size: 15px;
    margin-right: 20px;
    margin-bottom: 20px;
    background: rgb(20, 240, 20);
    border-radius: 20px;
    color:black;
    border-color:antiquewhite;
    font-weight: 400;
    cursor: pointer;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.saveOrCancel {
    margin-top: 50rem;
    position: relative;
    cursor: pointer;
}

.wrapInput {
    margin: 0;
    height: 4.5em;
}

.wrapTestArea {
    margin: 0;
    height: 7em;
}