.product-page {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding-top: 2.5rem;
  margin: 0 20em 0;
}

.image-frame {
  width: 100%;
  height: 27em;
  overflow: hidden;
  box-shadow: 0 7px 15px rgb(201, 201, 201);
}

.imageSrc {
  max-width: 100%;
  height: auto;
}

.review-box {
  width: 100%;
}

.review-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.review-list {
  position: relative;
  display: grid;
  row-gap: 1em;
  margin-bottom: 2em;
}

.filter-button {
  margin: 0 .3em .1em 0;
  font-weight: 400;
  font-size: 1.25em;
  border: none;
  background-color: transparent;
}

.filter-button > svg {
  margin-left: .5em;
}

.flip-cheveron {
  transform: rotate(180deg);
}

