.title {
  margin: .5em 0 0 2.5em;
  color:rgb(55, 55, 55);
}

.review-container {
 position: relative;
}

.review {
  background-color: white;
  box-shadow: 0 1px 5px rgb(201, 201, 201);
  padding: 1em 1em 0;
  max-height: 11.2em;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  white-space: normal;
  border-bottom: 2em solid white;
}

.review-title {
  display: flex;
}

.show-more {
max-height: unset;
overflow: visible;
display: block;
}

.review-description {
  margin: 1em 0 0 0;
}

.user {
  display: flex;
  align-items: center;
  
}

.posted-date {
  font-size: .75em;
  transform: translateY(.5em);
}


.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d2691e;
  width: 3em;
  height: 3em;
  border-radius: 50em;
  margin-right: 1em;
}

.avatar-default {
  font-weight: 600;
  color: white;
}

.username-star-box > p {
  margin: 0;
}

.show-more-btn {
  position: absolute;
  z-index: 2;
  bottom: 8px;
  right: 5px;
  background-color: transparent;
  border: none;
  color: rgba(0, 0, 0, 0.318);
}

.show-more-btn:hover {
  cursor: pointer;
}

