p {
  color: #666666;
}

.orderItem {
  display: grid;
  grid-template-columns: 2fr 4fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 1em;
  align-items: center;
}

.itemTitle {
  font-weight: 700;
}

.price {
  align-self: end;
  justify-self: end;
}

.image {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
}

.image > img {
  width: 100%;
  height: auto;
}
.outline {
  border: none;
  background-color: white;
  max-width: 50%;
  min-width: 35px;
}

.trashcanSize {
  height: 100%;
  width: 100%;
}

.center {
  text-align: center;
}

.tooltip {
  position: relative;
  text-align: center;
}

.tooltip:before {
  content: attr(data-text);
  /* here's the magic */
  position: absolute;
  top: -54px;
  left: -225%;

  /* basic styles */
  width: 400%;
  padding-top: 3px;
  padding-bottom: 5px;
  border-radius: 10px;
  background: darksalmon;
  color: #fff;
  text-align: center;

  /* hide by default */
  opacity: 0;
  transition: 0.5s;
}

.tooltip:after {
  content: '';
  position: absolute;
  top: -25px;
  left: 22%;

  /* the arrow */
  border: 10px solid #000;
  border-color: darksalmon transparent transparent transparent;

  opacity: 0;
  transition: 0.5s;
}

.tooltip:hover:before,
.tooltip:hover:after {
  opacity: 1;
  display: block;
}

.cartQtyPicker {
  padding-left: 30px;
  display: inline-block;
  --size: 15px;
  --width: 15px;
  --height: 10px;
  --buttonWidth: 20px;
  --buttonHeight: 20px;
  --buttonPadding: ;
}
